*{
    font-family: "Paytone One", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;
    color: var(--escuro);
}

:root{
    --branco:rgb(48, 152, 255);
    --cinza:rgb(183, 183, 183);
    --escuro: rgba(52, 52, 52, 1);
    --vermelho:rgb(0, 96, 175);
    --cinza-escuro: rgb(232, 232, 232);
}

.white {
    color: var(--branco);
}

body {
    background-color: var(--cinza);
}

header {
    background-color: var(--vermelho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.logo {
    color: var(--branco);
    text-align: center;
    border: 5px solid var(--branco);
    padding: 5px;
}
.column {
    flex-direction: column;
}

.btn {
    font-size: 20px;
    padding: 5px;
    background-color: var(--escuro);
    color: var(--branco);
    border: 5px solid var(--branco);
    padding: 5px 20px;
    transition: 0.6s;
}

.b-radius {
    border-radius: 30px;
}

.btn:hover {
    background-color: var(--branco);
    color: var(--escuro);
    border: 5px solid var(--escuro);
}

.d-flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.gap-p {
    gap: 20px;
}

.titulo {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.m-top {
    margin-top: 20px;
}

.texto {
    background-color: var(--cinza-escuro);
    padding: 20px;
    width:45vw;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

img {
    height: 200px;
    width: 250px;
    border-radius: 30px;
}

footer {
    margin-top: 30px;
    background-color: var(--vermelho);
    box-shadow: 4px -5px 20px 2px rgba(0, 0, 0, 0.6);
    padding: 20px 0;
}

footer div img {
    height: 40px;
    width: auto;
}
.gap-pp {
    gap: 10px;
}

@media (max-width: 733px) { 
    body {
        justify-content: center;
    }

    nav {
        display: none;
    }
    .btn {
        display: none;
    }

    header {
        justify-content: center;
    }
    .d-flex {
        flex-direction: column;
    }
}


@media (max-width: 600px) {
    .texto {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    .texto {
        font-size: 19px;
        padding: 30px;
    }
}

@media (max-width: 380px) {
    .texto {
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    .texto {
        font-size: 14px;
        padding: 20px;
    }
}

